<html>
  <head>
    {{@import header}}

  </head>
  <body style="visibility: hidden">
    {{@import navbar}}

    <div class="main">
      {{content}}
    </div>

    {{@import footer}}
  </body>
</html>
