<html>
  <head>
    {{@import header}}

  </head>
  <body style="visibility: hidden">
    {{@import navbar}}

    <div class="main">
      {{content}}
    </div>

    <div style="position:fixed; bottom: 5px; right: 5px">
      Power by INITECH
    </div>

    {{@import footer}}
  </body>
</html>
